<h1>Show <%= @channel.name %></h1>

<p>
  Channel Name: <%= @channel.name %>
</p>
<p>
  Accessed by:
  <table>
    <% @channel.groups.each do |group| %>
      <tr>
        <%= link_to group.name, group_path(group) %>
      </tr>
    <% end %>
  </table>
</p>
<p>
  <%= link_to 'Edit Channel', edit_channel_path(@channel) %>
</p>
<p>
  <%= link_to 'Channel Index', channels_path %>
</p>
