<h1>Show <%= @channel.name %></h1>

<p>
  Channel Name: <%= @channel.name %>
</p>
<p>
  Accessed by:
  <table>
    <% @channel.groups.each do |group| %>
      <tr><td>
        <%= link_to group.name, group_path(group) %>
      </td></tr>
    <% end %>
  </table>
</p>

<p>
  Messages:
  <table>
    <tr><%= link_to 'Write a Message', new_message_path(@channel) %></tr>
    <% @channel.messages.each do |message| %>
      <tr><td>
        <p>
          <%= message.created_at.to_s %> -- <%= message.user.name %>
        </p>
        <p>
          <%= message.content %>
        </p>
      </td></tr>
    <% end %>
  </table>
</p>

<p>
  <%= link_to 'Edit Channel', edit_channel_path(@channel) %>
</p>
<p>
  <%= link_to 'Channel Index', channels_path %>
</p>
