<h1>New Message in <%= @channel.name %></h1>

<%= form_for @message, url: new_message_path(@channel) do |f| %>
  <%= f.hidden_field :channel_id, value: @channel.id %>
  <p>
    <%= f.label 'User:' %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </p>
  <p>
    <%= f.label 'Content:' %>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Send Message' %>
  </p>
<% end %>

<p>
  <%= link_to 'Cancel', channel_path(@channel) %>
</p>
